*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-image: url(./img/background-desktop\ 1\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding-top: 32px;
    padding-left: 96px;
    padding-right: 96px;
    padding-bottom: 16px;
    }

header{
    background-color: lightblue;
    height: 50px;
}   
main{
    background-color: tomato;
    flex-grow: 1;
}
footer{
    background-color: blueviolet;
    height: 50px;
}